body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
}

/* Overlay */
.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.landing {
  position: relative;
  background: url("./img/showcase.jpg") no-repeat center center/cover;
  height: 100vh;
}

.landing-inner {
  color: #fff;
  height: 60%;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.text-primary {
  color: black;
}

.dash-buttons a {
  display: block;
  width: 100%;
  margin-bottom: 0.2rem;
}

.post .post-date {
  color: #aaa;
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}

.post {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-gap: 2rem;
  align-items: center;
}
/* 
.nav-link {
  font-size: 17px !important;
} */

.avatar {
  height: 200px;
  width: 200px;
  background-color: #fff;
  object-fit: fill;
}

/* .nav-link :hover {
  color: rgb(79, 0, 0) !important;
} */

/* .top-banner {
  background-color: #c0392b;
} */

.underlined-title {
  text-decoration: underline;
}
.underlined-title :hover {
  text-decoration-color: #c0392b;
}

/* Profiles Page */
.profile {
  display: grid;
  grid-template-columns: 1fr 4fr 2fr;
  align-items: center;
  grid-gap: 2rem;
  padding: 1rem;
  line-height: 1.8;
  margin-bottom: 1rem;
}

/* Profile Page */
.profile-grid {
  display: grid;
  grid-template-areas:
    "top top"
    "about about"
    "exp edu"
    "github github";
  grid-gap: 1rem;
}

.profile-top {
  grid-area: top;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.profile-img {
  width: 200px;
}

.profile-top .icons a {
  color: #fff;
  margin: 0 0.3rem;
}

.profile-top .icons a:hover {
  color: var(--dark-color);
}

.profile-about {
  grid-area: about;
  text-align: center;
}

.profile-about .skills {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.profile-exp {
  grid-area: exp;
}

.profile-edu {
  grid-area: edu;
}

.profile-exp h2,
.profile-edu h2 {
  margin-bottom: 1rem;
}

.profile-exp > div,
.profile-edu > div {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: #ccc 1px dotted;
}

.profile-exp > div:last-child,
.profile-edu > div:last-child {
  border: 0;
}

.profile-exp p,
.profile-edu p {
  margin: 0.5rem 0;
}

.round-img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  object-fit: fill;
}

.landing {
  position: relative;
  background: url("../src/img/showcase_cp.jpg") no-repeat center center/cover;
  height: 100vh;
}

.photo {
  border-radius: 45px;
  margin-right: 20px;
  width: 90px;
  height: 90px;
}

.expertise-label {
  display: block;
  font-weight: 700;
  margin-top: 10px;
}
