/* body {
  font-family: "Roboto";
} */

/* Overlay */
.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.landing {
  position: relative;
  background: url("./img/showcase.jpg") no-repeat center center/cover;
  height: 100vh;
}

.landing-inner {
  color: #fff;
  height: 60%;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.text-primary {
  color: black;
}

.dash-buttons a {
  display: block;
  width: 100%;
  margin-bottom: 0.2rem;
}

.post .post-date {
  color: #aaa;
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}

.post {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 2rem;
  align-items: center;
}

.nav-link {
  font-size: 17px !important;
}

.avatar {
  height: 200px;
  width: 200px;
  object-fit: contain;
  background-color: #fff;
}

/* .nav-link :hover {
  color: rgb(79, 0, 0) !important;
} */

.top-banner {
  background-color: #c0392b;
}
